<tui-island>
  <p class="title">Log in</p>

  <form [formGroup]="loginForm">
    <div class="username">
      <tui-input formControlName="username">Username</tui-input>
      <tui-error formControlName="username" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="password">
      <tui-input-password formControlName="password">Password</tui-input-password>
      <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <button class="submit-button" tuiButton type="button" (click)="onSubmit()">Login</button>
    <tui-error [error]="submitErrors"></tui-error>
  </form>

  <a tuiLink [routerLink]="'register'">Don't have account? create a new one.</a>
</tui-island>
