<tui-island class="customer-section">
  <p>Select a customer:</p>
  <tui-select [formControl]="selectedCustomer" [valueContent]="customerTemplate">
    Customer
    <input *tuiTextField placeholder="Choose a customer" />
    <tui-data-list-wrapper *tuiDataList [items]="customers" [itemContent]="customerTemplate"> </tui-data-list-wrapper>

    <ng-template #customerTemplate let-customer>
      <p>{{ customer.Name }} - {{ customer.Email }}</p>
    </ng-template>
  </tui-select>
</tui-island>
<table tuiTable [columns]="columns">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'Start Date'" tuiTh>Start Date</th>

      <th *tuiHead="'Final Date'" tuiTh>Final Date</th>
      <th *tuiHead="'Status'" tuiTh>Status</th>
      <th *tuiHead="'Payment Received'" tuiTh>Payment Received</th>
      <th *tuiHead="'Fee'" tuiTh>Fee</th>
      <th *tuiHead="'Car Model'" tuiTh>Car Model</th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="(bookings$ | async) ?? []">
    <tr *ngFor="let booking of bookings$ | async; let index = index" tuiTr>
      <td *tuiCell="'Start Date'" tuiTd>{{ booking.from | date : 'd/M/yy h:mm' }}</td>
      <td *tuiCell="'Final Date'" tuiTd>{{ booking.to | date : 'd/M/yy h:mm' }}</td>
      <td *tuiCell="'Status'" tuiTd>
        {{ booking.status }}
      </td>
      <td *tuiCell="'Payment Received'" class="payment-status" [ngClass]="{ paid: booking.paymentReceived }" tuiTd>
        {{ booking.paymentReceived }}
      </td>
      <td *tuiCell="'Fee'" tuiTd>{{ booking.totalFee }}</td>
      <td *tuiCell="'Car Model'" tuiTd>{{ booking.bookedVehicle.model }}</td>
    </tr>
  </tbody>
</table>
