<div class="root">
  <div class="container">
    <div class="header">
      <h1 class="logo">Rent Cars</h1>

      <div class="nav-items">
        <button tuiButton type="button" [routerLink]="'.'">Bookings</button>
        <button tuiButton type="button" [routerLink]="'vehicles'">Vehicles</button>
        <button tuiButton type="button" (click)="logout()">Logout</button>
      </div>
    </div>

    <div class="booking-table">
      <app-booking-table></app-booking-table>
    </div>

    <div class="discounts">
      <app-discount-list></app-discount-list>
    </div>
  </div>
</div>
