<tui-island>
  <p class="title">{{ title }}</p>

  <form [formGroup]="registerForm">
    <div class="first-name">
      <tui-input formControlName="firstName"> First name </tui-input>
      <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="last-name">
      <tui-input formControlName="lastName"> Last name </tui-input>
      <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="username">
      <tui-input formControlName="username"> Username </tui-input>
      <tui-error formControlName="username" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="password">
      <tui-input-password formControlName="password"> Password </tui-input-password>
      <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="email">
      <tui-input formControlName="email"> Email </tui-input>
      <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <div class="phone-number">
      <tui-input-phone
        [countryCode]="'+55'"
        [phoneMaskAfterCountryCode]="'(##) #####-####'"
        formControlName="phoneNumber"
      >
        Phone number
      </tui-input-phone>
      <tui-error formControlName="phoneNumber" [error]="[] | tuiFieldError | async"></tui-error>
    </div>

    <button class="submit-button" tuiButton type="button" (click)="onSubmit()">Register</button>
  </form>
</tui-island>
