:host tui-island {
  min-width: 400px;

  form {
    display: grid;
    grid-template-areas:
      'first-name last-name'
      'username username'
      'password password'
      'email email'
      'phone-number phone-number'
      'submit-button submit-button';
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
  }
}

.title {
  text-align: center;
}

$form-sections: 'first-name', 'last-name', 'username', 'password', 'email', 'phone-number', 'submit-button';

@each $section in $form-sections {
  .#{$section} {
    grid-area: #{$section};
  }
}
