/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-accent: #805ad5;
  --color-hover: #450d98;
  --tui-primary: var(--color-accent);
  --tui-primary-hover: var(--color-hover);
}
